# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor settings
.vscode/
.idea/
.spyderproject/
.ropeproject/

# Results / temporary files
results/
*.png
*.pdf
!docs/*.pdf

# System files
.DS_Store
Thumbs.db